body{
	width: 320px;
	height: 120px;
	background: url(https://miiinitiatives.files.wordpress.com/2013/04/running-marathon.jpg) no-repeat center fixed ;
  background-size: cover
}

div{
	width: 100%;
}

/*#inputSong{
	vertical-align:middle;
	display:inline-block;
	width: 65%;
}
*/

#save-html{
	height: 30px;		
	font-family: 'Ubuntu', sans-serif;
	display:inline-block;
	width: 30%;
	background-color:#5B74A8;
	font-size: 14px;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	/*pointer-events: none;*/
  /*cursor: default;*/
}
#save-html:disabled {
    background: #999;
    color: #555;
    cursor: default;
}

#fileinput{
	display:block;
	font-family: 'Ubuntu', sans-serif;
	color: blue;
/*	background-color: white;
	opacity: 0.5;*/
	background-color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
}


#btnLoad {
	display:inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
}

#btnLoad:disabled {
    background: #999;
    color: #555;
    cursor: default;
}





#dl{

	display: none;

}